.vlides-link-card{
    .link-box{
        text-decoration: none;
        word-break: break-all;
        align-items: center;
        border: 2px solid #f2f2f2;
        border-radius: 6px;
        display: flex;
        justify-content: space-between;
        // justify-content: flex-end;
        position: relative;
        overflow: hidden;
        color: $subColor;
        min-height: 130px;
        padding: 0px 10px;
    }
    .link-box:hover{
        background-color:#fafafa;
        -webkit-transition:background-color .3s;
        transition:background-color .3s;
    }
    .link-box .img-box{
        height: 110px;
        width: 110px;
    }
    .link-box .img-box img {
        border: 1px solid #f4f3ef;
        flex-shrink: 0;
        height: 110px;
        width: 110px;
        object-fit: cover;
        border-radius: 5px;
        // aspect-ratio: auto 220 / 110;
    }
    .link-box .img-box .no-image {
        border: 1px solid #f4f3ef;
        height: 110px;
        width: 110px;
        background: #dfdfdf90;
        // background: $subColor;
        border-radius: 5px;
        color: $white;
        @include flex(center, center);
    }
    .link-box .text-box {
        padding: 5px 15px 5px 0px;
        width: calc(100% - 125px);
        position: relative;
    }
    .text-box .title {
        font-size: 18px;
        font-weight: 700;
    }
    .text-box .site-description {
        font-size: 14px;
        color: #77838c;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .text-box .site-url {
        font-size: 12px;
        line-height: 14px;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}