.detail_container_wrapper  {
    position: relative;
    background-color: #f4f8fb;
    background: #f8f8f8;
    min-height: calc(100vh - $headerHeight);
    // background: linear-gradient(45deg, #f4e3c4, #f0e4c9, #f4e3c4, #f0e4c9);
    // background: #50495c;
    // background: #be5e68;

    .detail_container{
        display: flex;
        justify-content: center;
        // width: 100vh;
        gap: 10px;
        max-width: 900px;
        margin: 0 auto;
        padding-bottom: 20px;

        .vlide_popup {
            position: fixed;
            z-index: 10;
            right: 2px;
            top: calc($headerHeight + 80px);

            &__item {
                --size: 38px;
                width: var(--size);
                height: var(--size);
                bottom: 15px;
                border-radius: 50%;
                @include flex(center, center);
                color: $subColor;
                z-index: 200;
                margin: 10px 10px 15px;
                background: #fff;
                border-color: #cbd5e1;
                box-shadow: 1px 1px 5px #aaa;
                
                &:hover {
                    background: #f4f4f4;
                }
                svg {
                    font-size: 22px;
                }
                // &.clip_button {}
            }
        }

        .detail{
            position: relative;
            padding-top: 4px;
            padding-bottom: 90px;
            max-width: 800px;
            min-width: 780px;
            margin: 10px auto 10px 10px;

            &__toc_menu {
                position: fixed;
                z-index: 920;
                top: 0;
                bottom: 0;
                left: -300px;
                width: 300px;
                height: 100vh;
                background: $white;
                box-shadow: $boxShadowWhite;

                .site_name_container {
                    padding: 0 15px;
                    @include flex(center, unset);
                    column-gap: 10px;
                    height: 55px;
                    width: 100%;
                    border-bottom: 1px solid #ddd;
                    // background: $subColor;
                    // background: #50495c;
                    
                    .site_name {
                        font-weight: 700px;
                        font-size: 30px;
                        font-family: 'Niconne', cursive;
                        color: $mainColor;
                        // color: #50495c;
                    }
                }
                .book__pages {
                    height: calc(100vh - 55px);
                    overflow: scroll;
                    
                    .book__page {
                        padding: 15px 10px;
                        font-weight: 600;
                        word-break: break-word;
                        color: $subColor;
    
                        .page_link {
                            width: 100%;
                            height: 100%;
                            @include flex(center, unset);
                            column-gap: 10px;

                            &__count {
                                width: 30px;
                                height: 30px;
                                @include flex(center, center);
                                border-radius: 50%;
                                font-size: 15px;
                                background: $subColor;
                                color: #fff;
                            }
                            &__title {
                                font-size: 18px;
                                width: calc(100% - 30px);

                                &:hover {
                                    color: $mainColor;
                                }
                            }
                        }
                    }
                }

            }

            .is_showed_menu {
                left: 0;
            }
            
            &__toc_menu__overlay{
                width: 100vw;
                height: 100vh;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                position: fixed;
                z-index: 910;
                background: #00000065;
            }

            &__header {
                position: fixed;
                z-index: 900;
                top: 0;
                left: 0;
                right: 0;
                width: 100vw;
                height: $headerHeight;
                background: $white;
                // background: linear-gradient(45deg, #f4e3c4, #f0e4c9, #f4e3c4, #f0e4c9);
                @include flex(center, space-between);
                padding: 0 10px;

                &__toc {
                    width: 40px;
                    height: 40px;
                    @include flex(center, center);
                    background: #fff;
                    border-radius: 50%;
                    font-size: 32px;
                    color: #888;
                    user-select: none;
                    cursor: pointer;
        
                    &:hover{
                        color: #666;
                    }
                }
                &__title {
                    font-size: 16px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    color: #50495c;
                    // color: #be5e68;
                    max-width: calc(100% - 120px);
                }
            }            

            .content_container{
                background: $white;
                border-radius: 5px 5px 0 0;

                .vlid__header_img {
                    margin: 0 auto 0px;
                    position: relative;
                    img {
                        vertical-align: top;
                        object-fit: contain;
                        transition: .3s;
                        border-radius: 3px 3px 0 0;
                        width: 100%;
                        height: 100%;
                        max-height: 500px;
                    }
                    .img_cover {
						bottom: 0;
						left: 0;
						position: absolute;
						right: 0;
						top: 0;
                    }
                }
                
                .vlide__header {
                    margin: 10px 10px;
                    padding-top: 20px;
                    @include flex(flex-start, space-between);
                    user-select: none;
                    
                    &__author {
                        display: flex;
                        width: 100%;
                        position: relative;

                        &__icon {
                            position: relative;
                            @include flex(center, center);
                            --size: 45px;
                            width: var(--size);
                            height: var(--size);
                            background: #fff;
                            border: 2px solid #ccc;
                            color: #585e4e;
                            border-radius: 50%;
                            font-size: 28px;
                            font-weight: 700;
                            text-transform: uppercase;
                            margin: 0 8px; 

                            a {
                                width: var(--size);
                                height: var(--size);
                                @include flex(center, center);
                                font-family: 'Niconne', cursive;

                                .img {
                                    width: var(--size);
                                    height: var(--size);
                                }
                            }
                            
      

                        }
                        &__name {
                            max-width: calc(100vw - 300px);
                            max-width: 430px;
                            // width: 200px;
                            line-height: 24px;
                            font-size: 16px;
                            font-weight: 400;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            
                            @media (max-width: 730px) {
                                max-width: calc(100vw - 250px);
                            }

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                        &__dates{
                            line-height: 24px;
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }    
                    &__action {
                        height: 38px;
                        width: 200px;
                        @include flex(center, center);
                        column-gap: 15px;
                        margin: 8px 10px;

                        &__button {
                            @include flex(center, center);
                            height: 38px;
                            color: #aaa;

                            .edit_icon{
                                // font-size: 20px;
                                &:hover {
                                    color: #333;
                                }
                            }

                            .unbookmarked_icon {
                                &:hover {
                                    color: $orange;
                                }
                            }

                            .bookmarked_icon {
                                color: $orange;
                                &:hover {
                                    color: $orange;
                                }
                            }
                        }

                        .twitter_icon {
                            &:hover {
                                color: #1da1f2;
                            }
                        }
                        .line_icon {
                            &:hover {
                                color: #06c755;
                            }
                        }
                    }

                }
                .vlide__title {
                    color: $subColor;
                    // font-size: 32px;
                    font-size: 2.1rem;
                    font-weight: 700;
                    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
                    padding: 5px 6px 0px;
                    margin: 15px 2px 32px 20px;
                    // border-bottom: 2px solid #585e4e;
                    border-bottom: 2px solid #ddd;
                    overflow-wrap: break-word;
                    white-space: pre-wrap;
                    letter-spacing: -0.016em;
                }

                .tag_list_wrapper {
                    padding: 10px 20px 25px 15px;
                    user-select: none;

                    .tag_list {
                        @include flex(center, flex-start);    
                        flex-wrap: wrap;

                        .tag {
                            position: relative;
                            margin: 3px 10px 3px 0px;
                            padding: 0 8px;
                            font-weight: 900;
                            min-height: 30px;

                            color: #3339;
                            font-size: 18px;
                            overflow-wrap: break-word;
                            white-space: pre-wrap;
                            border: 1px solid #ddd5;
                            border-radius: 4px;
                            cursor: pointer;
                            @include flex(center, flex-start);

                            &:hover {
                                color: #333;
                                border: 1px solid rgba($color: $subColor, $alpha: 0.2);
                            }
                        }
                    }
                }
            }


            .clips_container {        
                background: $white;

                .clips_title {
                    border-top: 2px solid #ddd5;
                    border-bottom: 2px solid #ddd5;
                    padding: 8px 0;

                    button {
                        @include flex(center, center);
                        margin: 0 auto;
                        background: none;
                        outline: none;
                        border: none;
                        font-size: 16px;
                        font-weight: 600;
                        color: #555;

                        &:hover {
                            color: $green;
                        }
                    }
                }

                .clips_wrapper {
                    width: 100%;
                    margin: 15px 0;
                }
            }

            .button{
                --size: 38px;
                width: var(--size);
                height: var(--size);
                position: fixed;
                bottom: 30px;
                border-radius: 50%;
                @include flex(center, center); 
                background: #fff;
                border: 2px solid $mainColor;
                z-index: 200;

                &:hover {
                    background: $mainColor;
                    transition: 1s;
                    svg {
                        color: #f2f2f2;
                    }
                }
        
                svg {
                    padding: 1px;
                    font-size: 30px;
                    cursor: pointer;
                }
            }
            .new_clip_button {
                right: 15px;
                background: #fff;
                box-shadow: 0 0 8px -5px rgb(0 0 0 / 47%);
            }
            .new_clip_button_pushed svg {
                color: $mainColor;
            }

            .clip_form {
                position: fixed;
                z-index: 290;
                padding: 15px;
                right: 10px;
                bottom: 70px;
                background: $white;
                border-radius: 5px;
                overflow-y: scroll;
                // max-height: 68vh;
                min-width: 300px;
                max-width: 360px;
                border: 1px solid #f2f2f2;
                box-shadow: 0 0 8px -5px rgb(0 0 0 / 47%);
                overflow-wrap: break-word;
                white-space: pre-wrap;

                .clip_quote {
                    // background: #f2f2f2;
                    border-left: 3px solid #adadad;
                    // background: rgb(242, 242, 242);
                    margin-bottom: 15px;
                    padding: 8px;
                    // border-radius: 5px;
                    min-width: 300px;
                    max-width: 400px;
                    max-height: 400px;
                    overflow-y: scroll;
                }
            }

        }
        .about_author_wrapper{
            position: relative;
            width: 320px;
            // margin-top: 15px;

            .about_author {
                position: sticky;
                top: 73px;
                // top: 0;
                padding: 20px 10px;
                margin: 5px 10px;
                width: 300px;
                border-radius: 5px;
                background: $white;
                max-height: calc(100vh - 100px);
                overflow-y: scroll;
                overflow-x: hidden;

        
                &__header {
                    display: flex;
                    width: 100%;
                    user-select: none;
                    // border-bottom: 1px solid #ddd;
        
                    &__icon {
                        @include flex(center, center);
                        --size: 45px;
                        width: var(--size);
                        height: var(--size);
                        // background: #fff;
                        color: #666;
                        border: 2px solid #ccc;
                        // background: #ddd3;
                        border-radius: 50%;
                        font-size: 28px;
                        font-weight: 700;
                        text-transform: uppercase;
                        margin: 0 8px; 

                        a {
                            width: var(--size);
                            height: var(--size);
                            @include flex(center, center);
                            font-family: 'Niconne', cursive;

                            .img {
                                width: var(--size);
                                height: var(--size);
                            }
                        }
        
                    }
                    &__nickname {
                        width: 210px;
                        line-height: 24px;
                        font-size: 15px;
                        font-weight: 400;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    &__username{
                        width: 210px;
                        line-height: 24px;
                        font-size: 13px;
                        font-weight: 400;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }    


                &__description{
                    margin: 20px 10px 10px;
                    // line-height: 32px;
                    font-size: 14px;
                }

                .about_toc {
                    // position: sticky;
                    // top: 75px;
                    border-top: 1px solid #ddd;
                    margin-top: 30px;
                    padding-top: 20px;
                    // width: 300px;
                    // height: 50vh;
                }
            }



        }
    }
}

@media screen and (max-width: 1250px) {
    .detail_container_wrapper {
        margin: 0 auto;
        padding-left: 0;

        .detail_container{
            display: block;

            .detail{
                margin: 0 auto 0;
                width: 100%;
                max-width: 730px;
                min-width: 320px;
                padding-bottom: 0;

                .content_container {
                    margin: 10px auto;
                }
                .clips_container {
                    margin: 0 auto 15px;
                }
            }

            .about_author_wrapper{
                // display: none;
                max-width: 730px;
                width: 100%;
                margin: 0px auto;
                padding-bottom: 120px;
                position: relative;
            
                .about_author {
                    position: relative;
                    top: 0px;
                    right: unset;
                    left: unset;
                    margin: 0 auto;
                    width: 100%;
                    border-radius: 0 0 5px 5px;

                    &__header {
                        &__nickname {
                            width: calc(730px - 100px);
                        }
                        &__username {
                            width: calc(730px - 100px);
                        }
                    }
                }
                .about_toc {
                    position: relative;
                    top: 0px;
                    display: none;
                }
            }
        }

    }
}

@media screen and (max-width: 1080px) {
    .detail_container_wrapper {
        .detail_container{
            .detail{
                .clip_form{
                    bottom: 160px;
                }
                .button {
                    bottom: 120px;
                }
            }
        }
    }
}

@media screen and (max-width: 730px) {
    .detail_container_wrapper {
        .detail_container {
            .detail {
                margin-top: 0;
                padding-top: 0;

                .content_container {
                    border-radius: 0;
                }
                .content_container {
                    margin: 0px auto 10px;
                }
            }
            .about_author_wrapper {
                .about_author {
                    position: relative;
                    top: 0px;
                    right: unset;
                    left: unset;
                    margin: 0 auto;
                    width: 100%;
                    border-radius: 0;

                    &__header {
                        &__nickname {
                            width: calc(100vw - 100px);
                        }
                        &__username {
                            width: calc(100vw - 100px);
                        }
                    }
                }
            }
        }
    }
}