.vlide_card_container {
    background: $white;
    border: 3px solid $subColor;

    border-radius: 8px;
    background: #eee3;
    max-width: 960px;
    height: 210px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    padding: 8px;
    margin: 8px auto;

    @include flex(none, space-between);    
    flex-direction: column;

    .vlide__header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
        border-bottom: 2px solid #ccc;

        &__left {
            display: flex;
            cursor: pointer;

            &__left {
                width: 40px;
                height: 40px;
                @include flex(center, center);    
                border: 2px solid #ccc;
                background: #ddd3;
                color: $subColor;
                border-radius: 50%;
                font-size: 25px;
                text-transform: uppercase;
            }

            &__right {
                margin-left: 0.5rem;

                &__name {
                    font-size: 15px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    width: 180px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
                &__dates {
                    // width: 280px;
                    font-size: 12px;
                    color: rgb(88, 94, 78);
                    display: flex;
                    justify-content: space-between;

                }
            }
        }
        &__right{
            position: relative;
            @include flex(center, center);    
            
            .vlide__dot {
                @include flex(center, center);    
                position: relative;
                font-size: 30px;   
                height: var(--size);
                width: var(--size);
    
                &:hover {
                    background: #f2f2f2;
                    transition: 0.2s;
                    border-radius: 50%;
                }

            }

            .overlay{
                width: 100vw;
                height: 100vh;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                position: fixed;
                z-index: 9000;
                background-color: #ecf0f3;
                background: rgba(255, 255, 255, 0);
            }

            &__menu{
                position: absolute;
                z-index: 9999;
                width: 200px;
                padding: 10px;
                background: $white;
                box-shadow: rgb(101 119 134 / 20%) 0px 0px 15px, rgb(101 119 134 / 15%) 0px 0px 3px 1px;
                border-radius: 4px;
                right: 0;
                display: none;


                li{
                    padding: 2px;
                    cursor: pointer;
                }
                li:hover{
                    color: $green;
                    font-weight: 800;
                }

            }
            .show_menu{
                display: block;
            }

            .delete_overlay{
                background: #ddd8;
            }

            &__delete{
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 9999;
                max-width: 300px;
                width: 85%;
                padding: 20px;
                background: $white;
                box-shadow: rgb(101 119 134 / 20%) 0px 0px 15px, rgb(101 119 134 / 15%) 0px 0px 3px 1px;
                border-radius: 4px;
                display: none;

                // &__title{
                //     margin: 4px;
                //     font-weight: 800;
                //     font-size: 1rem;
                //     text-align: center;
                // }
                &__content {
                    background: #ddd6;
                    border-radius: 5px;
                    padding: 0 5px;
                }

                .selects{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin-top: 10px;
                    text-align: center;
                    font-weight: 800;

                    .no{
                        cursor: pointer;
                        /* background: ); */
                        color: $subColor;
                        width: 100px;
                        border: 2px solid $subColor;
                        border-radius: 8px;
                        padding: 4px;
                        &:hover{
                            color: $buttonHoverColor;
                            border: 2px solid $buttonHoverColor;
                        }
                    }
                    .yes{
                        cursor: pointer;
                        color: $white;
                        background: $red;
                        width: 100px;
                        border-radius: 8px;
                        padding: 4px 4px;

                        &:hover{
                            background: #dc1e29;
                        }
                    }
                }
            }
            .show_delete{
                display: block;
            }
        }

    }
    
    .vlide__main{
        color: #000;
        height: 100%;
        cursor: pointer;
        @include flex(center, unset);    


        &:hover{
            color: $mainColor;
            text-decoration: underline;
        }
        &__title {
            font-size: 16px;
            font-weight: 700;
            padding: 10px 5px 5px;
            word-break: break-all;
            // overflow: hidden;
            // white-space: nowrap;
            // text-overflow: ellipsis;
        }
        // &__content {
        //     padding: 0px 5px;
        //     font-size: $fontSizeNormal;
        //     // text-indent: 0.5rem;
        //     word-break: break-all;
        // }
    }

    // Tag 
    .vlide__additional_elements {
        @include flex(center, center);
        flex-wrap: wrap;
        column-gap: 82px;
        --size: 32px;

        .vlide__clip{
            @include flex(center, center); 

            &__button {
                height: var(--size);
                width: var(--size);
                padding: 2px;
                font-size: 25px;   

                &:hover {
                    background: #f2f2f2;
                    color: $green;
                    transition: 0.2s;
                    border-radius: 50%;
                }
            }
            &__count{
                font-size: 18px;
                // margin-left: 5px;
            }
        }


        .vlide__bookmark{
            @include flex(center, center);    
            font-size: 20px;   
            // margin-left: 35px;
            padding: 5px;
            height: var(--size);
            width: var(--size);

            &:hover {
                background: #f2f2f2;
                color: $orange;
                transition: 0.2s;
                border-radius: 50%;
            }
        }
        .bookmarked {
            color: $orange;
        }


        .vlide__share{
            @include flex(center, center);    
            position: relative;
            font-size: 30px;   
            padding: 5px;
            height: var(--size);
            width: var(--size);

            &:hover {
                background: #f2f2f2;
                color: $buttonColor;
                transition: 0.2s;
                border-radius: 50%;
            }
            &__overlay{
                width: 100vw;
                height: 100vh;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                position: fixed;
                z-index: 9000;
                background: #ddd8;
            }
            &__menu {
                position: absolute;
                z-index: 9999;
                min-width: 50px;
                background: $white;
                box-shadow: rgb(101 119 134 / 20%) 0px 0px 15px, rgb(101 119 134 / 15%) 0px 0px 3px 1px;
                border-radius: 10px;
                right: 0;
                top: -50px;
                display: none;

                li {
                    width: 35px;
                    height: 35px
                }

            }
            .show_share__menu{
                @include flex(center, justify-content);  
                column-gap: 35px;
                padding: 12px 15px;
            }
        }
    }
}