.header {
    position: fixed;
    width: 100%;
    height: $headerHeight;
    // padding: 12px 15px;
    padding: 10px 15px;
    font-size: 20px;
    z-index: 900;
    background-color: $white;
    color: $subColor;
    // border-bottom: solid 3px #f2f2f2;
    box-shadow: $boxShadowWhite;

    &__nav {
        @include flex(unset, space-between);

        .logo_wapper{
            width: 160px;
            color: $subColor;
        
            .logo {
                display: flex;
                column-gap: 5px;
                font-weight: 700;
                width: 115px;
                padding: 1px 0px;
                border-radius:5px;

                .logo_img_container {
                    position: relative;
                    .img_cover {
						bottom: 0;
						left: 0;
						position: absolute;
						right: 0;
						top: 0;
                    }
                }
                a {
                    font-family: 'Niconne', cursive;
                    color: #333;
                    font-size: 25px;
                }
                
            }
        }
        .links {
            min-width: 200px;
            @include flex(unset, space-between);
            user-select: none;
            column-gap: 20px;

            .link {
                padding: 0 5px;
                font-weight: 600;
                font-size: 16px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                // color: #b3b3b3;
                color: #666;

                &:hover{
                    color: $subColor
                    // border-bottom: 2px solid $subColor;
                }
            }
        }
        .auth_btns {
            @include flex(center, flex-end);
            gap: 10px;
            width: 160px;

            .auth_btn {
                cursor: pointer;
                user-select: none;
                font-weight: 600;
                font-size: 14px;
                padding: 1px 1px;
                width: 80px;
                height: 30px;
                @include flex(center, center);
                color: #666;
                
                &:hover{
                    color: $subColor;
                    // border-bottom: 1px solid $subColor;
                }
            }
            .sign_up_btn{
                color: #fff;
                background-color: $subColor;
                border-radius: 5px;
                padding: 0;

                &:hover{
                    // opacity: 0.9;
                    color: $white;
                    background: $subColor;
                    border-bottom: 1px solid $subColor;
                }
            }

        }
        .menu_btn_wrapper {
            display: none;

            .icon {
                padding: 0 0 0 10px;
                cursor: pointer;
            }

            .menu_btn {
                & > span {
                    position: absolute;
                    top: 14px;
                    width: 24px;
                    height: 3px;
                    background: $subColor;
                    border-radius: 4px;
                    transition: 0.5s;
                    &:nth-child(1) {
                        transform: translateY(-7px);
                    }
                    &:nth-child(2) {
                        transform: translateY(7px);
                    }

                }
            }
            .active {
                & > span {
                    &:nth-child(1) {
                        transform: translateY(0px) rotate(45deg);
                        // background-color: $subColor;
                    }
                    &:nth-child(2) {
                        /* transform: translateY(0px) rotate(-45deg); */
                        transform: translateY(0px) rotate(315deg);
                        // background-color: $subColor;
                    }
                    &:nth-child(3) {
                        transform: translateX(30px);
                    }
                }
            }
        }
    }
    .menubar_wrapper{
        position: absolute;
        display: none;
        top: $headerHeight;
        right: 0;
        // width: 100vw;
        height: calc(100vh - $headerHeight);
        color: $white;

        .menuba_overlay {
            position: absolute;
            right: 0;
            width: 100vw;
            height: calc(100vh - $headerHeight);
            background: #ddd5;
            opacity: 1;
            z-index: 290;            
        }
        
        .menubar {
            position: absolute;
            right: 0;
            width: 260px;
            padding: 10px 5px;
            background: $subColor;
            height: 100%;
            z-index: 300;
            overflow: scroll;
            // color: #e6e2d7;
  
            .links {
                padding: 15px 0px;
                font-size: 26px;
                font-weight: 600;
                user-select: none;
    
                .link {
                    margin: 20px 15px;
                    cursor: pointer;
                    @include flex(center, unset);
                    column-gap: 10px;
                    
                    a {
                        @include flex(center, unset);
                        column-gap: 10px;
                        // width: 100%;
                        position: relative;
                    }

                    // .img_cover {
                    //     bottom: 0;
					// 	left: 0;
					// 	position: absolute;
					// 	right: 0;
					// 	top: 0;
                    // }
                
                    &:hover{
                      color: $mainColor;
                    }
                }
                .login_btn {
                    @include flex(center, center);
                    margin: 30px 10px 0 10px;
                    color: $mainColor;
                    border: 2px solid $mainColor;
                    border-radius: 5px;
                    text-align: center;
                    &:hover{
                        color: $subColor;
                        background: $mainColor;
                    }
                }
                
                .logout_btn {
                    @include flex(center, center);
                    position: absolute;
                    // bottom: 50px;
                    right: 0;
                    margin: 45px 0px;
                    color: $white;
                    border: 2px solid $white;
                    border-right: unset;

                    border-radius: 5px 0 0 5px;   
                    width: 220px;
                    
                    &:hover {
                        color: $subColor;
                        background-color: $mainColor;
                        border: 2px solid $mainColor;

                    }
                }
    
                .sign_up_btn {
                    @include flex(center, center);
                    margin: 20px 10px;
                    color: $white;
                    border: 2px solid $white;
                    // color: #e6e2d7;
                    // border: 2px solid #e6e2d7;

                    border-radius: 5px;
                    text-align: center;

                    &:hover {
                        color: $subColor;
                        background-color: $white;
                    }
                }
            }

        }
    }


    .new_content_form_container {
        position: fixed;
        right: 10px;
        bottom: 15px;
        z-index: 300;
    
        .overlay{
            width: 100vw;
            height: 100vh;
            top: $headerHeight;
            left: 0;
            right: 0;
            bottom: 0;
            position: fixed;
            z-index: 290;
            background: rgba(255, 255, 255, 0.7);
            background: #00000065;
        }
    
        .form_container{
            z-index: 320;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
    
            margin: 0;
            max-height: 620px;
            width: calc(100vw - 20px);
            max-width: 550px;
            overflow-y: scroll;
    
            background: #fff;
            box-shadow: 0 0 8px -5px rgb(0 0 0 / 47%);
            border-radius: 5px;
    
            .close_form {
                @include flex(center, center);
                position: absolute;
                right: 5px;
                top: 5px;
                --size: 30px;
                height: var(--size);
                width: var(--size);
                background-color: #fff;
                color: $subColor;
                // font-size: 25px;
                font-size: 30px;
                font-weight: 900;
                opacity: 0.75;
                border-radius: 50%;
                cursor: pointer;
    
                &:hover{
                    background: #f2f2f2;
                }
            }
            .form_wrapper {
                margin: 40px 30px 30px;

                .navigation {
                    // @include flex(flex-end, space-around);
                    @include flex(center, space-around);
                    width: 310px;
                    height: 40px;
                    margin: 0px auto 50px;
                    font-weight: 600;
                    font-size: 18px;
                    background: #ffffff43;
                    // border-radius: 5px;
                    background: #ededed;
                    border: 1px solid #ededed;
                    box-shadow: $boxShadowWhite;
            
                    .nav_item {
                        color: #666;
                        width: 100px;
                        height: 35px;
                        font-size: 15px;
                        @include flex(center, center);
			            cursor: pointer;
            
                        &:hover {
                            color: $subColor;
                        }
                    }
                    .active_nav_item {
                        border-radius: 2px;
                        background: $white;
                        color: $subColor;
                    }
                }
            
    
            }
        }
    }
}



@media screen and (max-width: 767px) {
    .header .header__nav .menu_btn_wrapper{
        display: block;
    }
    .header .header__nav .menu_btn_wrapper .menu_btn {
        position: relative;
        width: 35px;
        height: 35px;
        display: flex;
        cursor: pointer;
        overflow: hidden;
    }
    .header .auth_btns {
        display: none;
    }
    .header .menubar_wrapper {
        display: block;
    }
    .header .header__nav .links {
        display: none;
    }
}
