.add_page_button {
    padding: 0.8rem;
    border: 2px dashed #999;
    border-radius: 0.5rem;
    color: #999;
    height: 65px;
    // background: $white;
    cursor: pointer;
    @include flex(center, center);

    &__text {
        font-size: $fontSizeMedium;
        display: flex;
        align-items: center;
        gap: 0.6rem;
    }
}