.book_vlide_card_container {
    position: relative;
    // background: #f2f2f2;

    .book_vlide_card {
        @include flex(center, space-between);
        // column-gap: 15px;
        &__title {
            font-size: 18px;
            width: calc(100% - 150px);
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            line-height: 22px;
            word-break: break-word;

        }
        &__action {
            width: 135px;
            
            &__button {
                background-color: $white;
                border: 2px solid rgba($orange, 0.8);
                font-size: 16px;
                border-radius: 6px;
                cursor: pointer;
                text-align: center;
                color: $orange;
                padding: 4px;
                opacity: 0.8;
        
                &:hover {
                    background: $orange;
                    // border: 2px solid rgba($buttonHoverColor, 0.8);
                    // background: $buttonHoverColor;
                    color: $white;
                    // opacity: 0.9;
                }
            }


            .isPageOf {
                background: $orange;
                color: $white;
                opacity: 0.8;
                border: 2px solid rgba($orange, 0.8);
        
                &:hover {
                    border: 2px solid rgba($orange, 0.8);
                    background: $orange;
                    // background: $white;
                    // color: $buttonColor;
                    opacity: 1;
                }
            }
            
        }
    }
}