.audio_action_button{
    --size: 28px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    @include flex(center, center);

    &:hover {
        background: #f2f2f2;
        transition: 1s;

        > svg {
            color: $mainColor;
        }
    }
    svg{
        border-radius: 50%;
        font-size: 24px;
        padding: 1px;
    }
}