.add_audio_button{
    @include flex(center, center);
    height: 50px;
    margin: 14px auto 14px auto;
    border-radius: 15px;
    border: 2px solid #000;
    color: $subColor;
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
}