.draft_vlide_container {

    .draft_vlid__main{
        --border-width: 8px;
        --min-section-width: 52px;
        position: relative;
        display: flex;
        width: 100vw;
        border-bottom: 2px solid #e5e5e5;

        
        &__border{
            // cursor: ew-resize;
            cursor: col-resize;
            width: var(--border-width);
            min-width: var(--border-width);
            margin: 0px -4px;
            overflow: hidden;
            position: relative;
            z-index: 60;

            &:hover {
                background: #fafafa;
            }
            &::after {
                content: "";
                display: block;
                position: absolute; 
                top: 0px; 
                left: 3px;
                bottom: 0px;
                width: 2px;
                background: #e5e5e5;
            }
        }
        &__section {
            position: relative;
            min-width: 320px;
            
            &__header {
                @include flex(center, space-between);
                padding: 10px 10px;
                position: absolute;
                z-index: 50;
                height: 42px;
                user-select: none;
                background: $white;
                width: 100%;

                &__title {
                    font-weight: 600;
                    font-size: 16px;
                    color: #666;
                }

                &__extra {
                    @include flex(center, space-between);
                    gap: 16px;
                }

                &__action {
                    @include flex(center, space-between);
                    gap: 16px;
                }

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    bottom: -1px;
                    background: #e5e5e5;
                    width: 100%;
                    height: 2px;
                }

            }
            &__content {
                height: calc(100vh - $headerHeight - 2px);
                overflow-y: scroll;
                padding: 55px 10px 100px;
                color: $subColor;
                
            }
        }
        &__section_one {
            // min-width: 320px;

            .draft_vlid__main__section__header {
                .img_button{
                    --size: 28px;
                    width: var(--size);
                    height: var(--size);
                    border-radius: 50%;
                    @include flex(center, center);
    
                    &:hover {
                        background: #f2f2f2;
                        transition: 1s;

                        > svg {
                            color: $mainColor;
                        }
                    }
                    svg{
                        border-radius: 50%;
                        font-size: 26px;
                        padding: 1px;
                        // color: $mainColor;
                    }
                }
                
                .submit_button {
                    border: none;
                    outline: none;
                    color: $subColor;
                    font-size: 12px;
                    letter-spacing: 0.05em;
                    font-weight: 600;
                    background: $mainColor;
                    // box-shadow:  4px 2px 2px $mainColor;
                    color: $white;
                    margin: 0 0 0 auto;
                    padding: 4px 8px;
                    border-radius: 5px;
                    transition: 0.5s;
                    cursor: pointer;
            
                    &:hover:not(:disabled){
                        opacity: 0.8;
                    }
                    &:disabled{
                        // box-shadow:  4px 2px 2px $subColor;
                        background: #666;
                    }
                }
            }
        }
        &__section_two {
            flex: 1;
            .draft_vlid__main__section__content__title {
                &__text {
                    position: relative;
                    color: $subColor;
                    // font-size: 32px;
                    font-size: 2.1rem;
                    font-weight: 700;
                    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
                    padding: 5px 6px 0px;
                    margin: 15px 2px 32px 20px;
                    // border-bottom: 2px solid #585e4e;
                    border-bottom: 2px solid #ddd;
                    overflow-wrap: break-word;
                    white-space: pre-wrap;
                    // letter-spacing: -0.016em;
                }
                max-width: 730px;
                margin: 0 auto;
            }    
            .draft_vlid__main__section__content__header_img {
                margin: 0 auto 40px;
                max-width: 730px;
                

                img {
                    vertical-align: top;
                    // object-fit: cover;
                    object-fit: contain;
                    transition: .3s;
                    border-radius: 3px 3px 0 0;
                    width: 100%;
                    height: 100%;
                    max-height: 400px;
                    // &:hover {
                    //     transform: scale(1.005);
                    // }
                }
            }

            .draft_vlid__main__section__content__slides {
                max-width: 730px;
                margin: 0 auto;
            }

            .to_edition_button {
                border: none;
                outline: none;
                color: $subColor;
                font-size: 14px;
                font-weight: 600;
                background: $subColor;
                color: $white;
                margin: 0 0 0 auto;
                padding: 4px 10px;
                border-radius: 5px;
                letter-spacing: 2px;
                transition: 0.5s;
                cursor: pointer;

                display: none;
                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }

    // @media screen and (max-width: 767px) {
    @media screen and (max-width: 650px) {

        .draft_vlid__main{
            display: block;

            &__border{
                display: none;
            }
            &__section {
                width: 100%;
                overflow: unset; // stickyは親要素がoverflow:hiddenの場合、効かない
                &__header {
                    position: sticky; // __contentのbottomまでstickする
                    top: $headerHeight; // stickyはtopを設定しないと、効かない
                }
                &__content {
                    height: 100%;
                    padding: 25px 10px 100px;
                }
                .to_edition_button{
                    display: block;
                }
            }
        }
    }
}