.new_vlide_form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-bottom: 1rem;
    
    .form_item{
        position: relative;

        input[type=text]{
            border: none;
            border-bottom: 3px solid $subColor;
            outline: none;
            color: #000;
            font-size: 1.5rem;
            font-weight: 800;
            background: rgba(255, 255, 255, 0.4);
            padding: 10px 5px;
            margin-bottom: 8px;
            width: 100%;
            transition: backgroud 0.5s;
        }
        
        input:focus, input:valid{
            background: #fff;
            color: $subColor;
        }
        input::placeholder {
            color: $subColor;
            opacity: 0.8;
        }
        .rule{
            color: #999;
            font-size: 15px;
            padding: 8px 0px;
            width: 100%;
        }
    }

    button {
        border: none;
        outline: none;
        color: $subColor;
        font-size: 16px;
        font-weight: 600;
        background: $mainColor;
        color: $white;
        margin: 0 0 0 auto;
        padding: 8px;
        // border: 2px solid $subColor;
        border-radius: 10px;
        letter-spacing: 2px;
        transition: 0.5s;
        cursor: pointer;
        width: 80px;
        box-shadow: 0 0 8px -5px rgb(0 0 0 / 47%);

        &:hover:not(:disabled){
            opacity: 0.8;
        }
        &:disabled{
            background: #666;
        }
    }

}