.tag_form{
    .field {
        padding: 10px 5px 5px;
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: 600;
        outline: none;
        border: none;
        border-bottom: 2px solid #ddd;
        color: $subColor;

        &::placeholder {
            color: #b3b3b3;
        }
    }
    .tag_list {
        @include flex(center, unset);  
        flex-wrap: wrap;
        column-gap: 25px;
         row-gap: 10px;

        .tag{
            font-size: 18px;
            overflow-wrap: break-word;
            white-space: pre-wrap;
            font-weight: 600;
            // height: 35px;
            @include flex(center, flex-start);
            color: $subColor;
            // color: #0e85f1;


            .delete_button {
                @include flex(center, center);  
                --size: 22px;
                height: var(--size);
                width: var(--size);
                color: $white;
                font-size: 22px;
                font-weight: 900;
                // opacity: 0.75;
                border-radius: 50%;
                margin-right: 8px;
                cursor: pointer;
                
                &:hover{
                    // opacity: 0.98;
                    opacity: 0.85;
                }


                svg{
                    background: #0e85f1;
                    background: $mainColor;
                    border-radius: 50%;
                    // height: 24px;
                    // width: 24px;
                    margin: auto;
                    @include flex(center, center);  

                }  
            }
        }
    
    
    }

    
    .rule{
        color: #999;
        font-size: 15px;
        padding: 8px 0px;
        width: 100%;
    }
}