.timePicker{
    width: 110px;
    padding: 8px 0px;
    margin: 14px auto;
    border-radius: 6px;
    user-select: none; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 2px solid #aaa;
    color: #aaa;

    .separator{
        padding: 0 8px;
        font-weight: 700;
        font-size: 18px;
    }
    
    &_select{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block; 
        width: 0 auto;
        height: 0 auto;
        text-align: center;
        padding: 0px 2px;
        outline: none;
        border: none;
        border-top: 3px solid #fff;
        border-radius: 4px;
        color: $subColor;
        cursor: pointer;
        font-size: 18px;
        background: #fff;

        option{
            font-size: 14px;
            display: block;
        }

    }
}