.feed_clips_container{
    min-height: 100vh;
    padding: 1.5rem 0;

	.navigation {
		@include flex(center, space-between);
		width: 300px;
		height: 37px;
		margin: 0px auto 20px;
		font-weight: 600;
		background: #ffffff43;
		padding: 2.5px;
		border-radius: 18px;
		background: #ededed;
		box-shadow: $boxShadowWhite;

		.nav_item {
			color: #666;
			width: 150px;
			height: 32px;
			@include flex(center, center);
			cursor: pointer;
			
			&:hover {
				color: $subColor;
			}
		}
		.active_nav_item {
			border-radius: 15px;
			background: $white;
			color: $subColor;
		}
	}

    .clips_container {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		width: 100vw;

		.clip_list{
			max-width: 1000px;

			.clip_no_contents {
				margin: 200px 0;
				font-weight: 600;
			}
		}
    }

}
