.edit_profile_form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-bottom: 1rem;
    
    .form_item{
        position: relative;

        input[type=text]{
            border: none;
            border: 1px solid #bfbfbf;
            border-radius: 5px;
            outline: none;
            color: #000;
            font-size: 16px;
            background: rgba(255, 255, 255, 0.4);
            padding: 10px 5px;
            margin-bottom: 8px;
            width: 100%;
            transition: backgroud 0.5s;
        }
        
        input:focus, input:valid{
            background: #fff;
            color: $subColor;
        }
        input::placeholder {
            color: $placeholderColor;
            opacity: 0.8;
        }
        .rule{
            color: #999;
            font-size: 15px;
            padding: 8px 0px;
            width: 100%;
        }
        .text_count {
            text-align: right;
            padding-right: 10px;
        }
    }

    .text_count {
        text-align: right;
        padding-right: 10px;
    }
    
    button {
        border: none;
        outline: none;
        color: $subColor;
        font-size: 15px;
        font-weight: 600;
        background: $mainColor;
        color: $white;
        margin: 0 0 0 auto;
        padding: 8px 5px;
        border-radius: 6px;
        letter-spacing: 2px;
        transition: 0.5s;
        cursor: pointer;
        width: 200px;
        border: 1px solid #f2f2f2;
        box-shadow: $boxShadowWhite;


        &:hover:not(:disabled){
            opacity: 0.8;
        }

        &:disabled{
            background: #666;
            &:hover {
                background: #666;
                opacity: 0.9;
            }
        }
    }

}