.prof_container {
    width: 100%;
}

.prof_card {
    position: relative;
    width: 750px;
    height: calc(100vh - $headerHeight);
    background: #fff;
    color: $subColor;
    border-right: 2px solid $subColor;
    border-left: 2px solid $subColor;
    border-color: #f4f3ef;
    transition: all 0.6s ease-in-out;
    margin: 0px auto;
    overflow-y: scroll;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    .profile {
        padding: 10px 0;
        overflow: hidden;

        &__header {
            @include flex(center, left);
            margin: 0 0 5px;

            .img_box__wrapper {
                margin: 10px 5px 10px 15px;
                @include flex(center, center);
                background: $white;
                width: 80px;
                height: 80px;
                border-radius: 50px;

                .img_box{
                    user-select: none;
                    text-transform: uppercase;
                    position: relative;
                    @include flex(center, center);
                    font-size: 55px;
                    color: #333;
                    background: #ddd3;
                    width: 80px;
                    height: 80px;
                    border-radius: 50px;
                    border: 2px solid #eee;
                    color: #686e5e;
                    overflow: hidden;
                    font-family: 'Niconne', cursive;
        
        
                    & > img {
                        border-radius: 50%;
                        width: 80px;
                        height: 80px;
                    }
                }
            }


            .name {
                margin: 0px 18px;
                width: calc(630px);
                position: relative;

                .nickname {
                    width: 100%;
                    font-size: 24px;
                    font-weight: 600;
                    overflow-wrap: break-word;
                    white-space: pre-wrap;
                    color: $subColor;
                }
                .username {
                    width: 100%;
                    margin-top: 2px;
                    font-size: 16px;
                    overflow-wrap: break-word;
                    white-space: pre-wrap;
                    color: #aaa;
                }
            }
        }



        .descirption {
            margin: 15px 18px 5px;
            overflow-wrap: break-word;
            white-space: pre-wrap;
            line-height: 28px;
        }
        .middle_info {
            .user_list {
                position: fixed;
                right: 10px;
                bottom: 15px;
                z-index: 300;
                color: $subColor;

                .overlay{
                    width: 100vw;
                    height: 100vh;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    position: fixed;
                    z-index: 290;
                    background: rgba(255, 255, 255, 0.65);
                    // background: rgba(0, 0, 0, 0.65);
                }

                .formContainer{
                    z-index: 320;
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    margin: 0;
                    max-height: 620px;
                    width: calc(100vw - 50px);
                    overflow-y: scroll;
                    user-select: all;
                    background: #fff;
                    box-shadow: 0 0 8px -5px rgb(0 0 0 / 47%);
                    border-radius: 5px;
                    max-width: 500px;


                    .closeForm {
                        @include flex(center, center);
                        position: absolute;
                        right: 5px;
                        top: 5px;
                        --size: 30px;
                        height: var(--size);
                        width: var(--size);
                        background-color: #fff;
                        color: $subColor;
                        // font-size: 25px;
                        font-size: 30px;
                        font-weight: 900;
                        opacity: 0.75;
                        border-radius: 50%;
                        cursor: pointer;
            
                        &:hover{
                            background: #f2f2f2;
                        }
                    }
                    .form {
                        margin: 40px 15px 20px;
                    }

                }

            }
        }
        .post_followers_following {
            user-select: none;
            @include flex(center, space-between);
            height: 90px;
            text-align: center;
            margin: 0px 10px;
            
            .post, .followers, .following {
                width: 210px;
                border: 2px solid $subColor;
                border-color: #ccc;
                color: $subColor;
                border-radius: 6px;
                font-size: 15px;
                padding: 2px 0;
            }
        }
        .follow_button {
            user-select: none;
            width: 100%;
            @include flex(center, space-around);
            box-shadow: $boxShadowWhite;

            & > button {
                width: 100%;
                margin: 0 10px;
                border: none;
                outline: none;
                border-radius: 2px;
                cursor: pointer;
                border: 2px solid $mainColor;
                background: $mainColor;
                color: $white;
                font-size: 20px;
                font-weight: 600;
                padding: 4px 0;

                &:hover {
                    // background: #E32D91;
                    opacity: 0.9;
                }
            }

            .editForm {
                position: fixed;
                right: 10px;
                bottom: 15px;
                z-index: 300;
                color: $subColor;

                .overlay{
                    width: 100vw;
                    height: 100vh;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    position: fixed;
                    z-index: 290;
                    // background-color: #ecf0f3;
                    // background: rgba(50, 50, 50, 0.7);
                    background: rgba(255, 255, 255, 0.65);
                    // backdrop-filter: blur(2px);
                    // -webkit-backdrop-filter: blur(2px);
                }

                .formContainer{
                    z-index: 320;
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -45%);
                    margin: 0;
                    max-height: calc(100vh - $headerHeight - 30px);
                    width: calc(100vw - 20px);
                    max-width: 600px;
                    overflow-y: scroll;
                    background: #fff;
                    box-shadow: 0 0 8px -5px rgb(0 0 0 / 47%);
                    border-radius: 5px;

                    .closeForm {                        
                        @include flex(center, center);
                        position: absolute;
                        right: 5px;
                        top: 5px;
                        --size: 30px;
                        height: var(--size);
                        width: var(--size);
                        background-color: #fff;
                        color: $subColor;
                        // font-size: 25px;
                        font-size: 30px;
                        font-weight: 900;
                        opacity: 0.75;
                        border-radius: 50%;
                        cursor: pointer;
            
                        &:hover{
                            background: #f2f2f2;
                        }
                    }
                    .form {
                        margin: 40px 30px 20px;

                    }
                }

            }
        }

    }
    .nav {
        position: sticky;
        position: -webkit-sticky;
        z-index: 100;
        top: 0px;
        width: 100%;
        border-bottom: 1px solid #f4f3ef;
        // border-color: rgb(47, 51, 54);
    }
    .lower_section{
        width: 100%;
        margin-bottom: 40px;
        overflow-y: scroll;
        position: relative;
        // height: 100vh;
    
        
        .prof_content_container{
            padding: 40px 0px; 

            .prof_content {
                text-align: center; 
            }
        }
        .vlide_container{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 100%;
    
            .vlide_list{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                max-width: 1000px;
                margin-top: 0.5rem;
        
                .vlide_card {
                    // margin: 0.5rem;
                    margin: 0rem 0.3rem 0.5rem;
                    width: 320px;
                }
                
            }
            
        }

    }

}

@media screen and (max-width: 767px) {
    .prof_card {
        width: 100%;
        // max-width: 750px;
        border: none;
        margin: 0;
        // border-radius: 20px;

        .profile {
            &__header {
                width: 100vw;
                .name {
                    width: calc(100vw - 150px);
                }
            }
            .post_followers_following {
                margin: 0 5px;
    
                .post, .followers, .following {
                    // width: 60px;
                    margin: 5px;
                }
    
            }
    
            // .follow_button {
            //     & > button {
            //         width: 90%;
            //     }        
            // }
        }
    }

}

@media screen and (max-width: 400px) {

    .prof_container {
        padding-top: 0px;
    }

    .prof_card {
        width: 100%;
        height: unset;
        height: calc(100vh - $headerHeight);
        margin-bottom: 0;
        border: none;
        border-radius: unset;
        box-shadow: none;
        padding: 0;

        // .header_section {
        //     width: 100%;
        //     background: $subColor;
        //     padding: 10px 0 0;

        //     .nickname {
        //         font-size: 20px;
        //         border: none;
        //         color: $white;
        //     }
        // }

        .profile {
            border-radius: 0;
            margin: 0;
            
            &header {
                width: 100vw;
            }

            .middle_info {
                .user_list {
                    .formContainer{
                        width: calc(100vw - 4px);
                        .form {
                            margin: 25px 10px;
                        }
                    }
                }
            }

            .post_followers_following {
                .post, .followers, .following {
                    width:  100px;
                }
            }

            // .follow_button {
            //     & > button {
            //         width: 90%;
            //     }        
            // }
        }

        
        // .content{
        //     height: calc(100vh - $headerHeight);
        //     position: relative;
        //     .nav {
        //         position: absolute;
        //         width: 100%;
        //     }
        // }

    }
}