.user_cell {
    position: relative;
    display: flex;
    cursor: pointer;
    padding: 5px 0;
    width: 100%;
    user-select: none;
    
    &__left{
        width: calc(100% - 100px);
        position: relative;
        display: block;
        @include flex(center, flex-start);    
        column-gap: 10px;

        .icon_wrapper {
            width: 40px;
            height: 40px;
            @include flex(center, center);    
            border: 2px solid #ccc;
            background: #ddd3;
            text-transform: uppercase;
            font-size: 25px;
            color: $subColor;
            border-radius: 50%;
            font-family: 'Niconne', cursive;
        }

        &__top {
            width: calc(100% - 100px);

            &__name {
                width: 100%;
                font-size: 15px;
                height: 50px;
                padding: 4px 0 0;

                &:hover {
                    text-decoration: underline;
                }

                &__user {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
    
                }
                &__nick {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;    
                }
            }
        }

    }
    &__right {
        width: 100px;

        &__follow_button {
            width: 100px;
            background-color: $white;
            border: 2px solid rgba($buttonColor, 0.8);
            font-size: 14px;
            border-radius: 6px;
            cursor: pointer;
            text-align: center;
            color: $buttonColor;
            padding: 4px;
            // opacity: 0.8;
    
            &:hover {
                background: $buttonColor;
                // border: 2px solid rgba($buttonHoverColor, 0.8);
                // background: $buttonHoverColor;
                color: $white;
                // opacity: 0.9;
            }
        }

        .is_followed {
            background: $buttonColor;
            color: $white;
            // opacity: 0.8;
            
            &:hover {
                border: 2px solid rgba($buttonHoverColor, 0.8);
                background: $buttonHoverColor;
                // background: $white;
                // color: $buttonColor;
                // opacity: 0.9;
            }
        }

    }

}