.search_container{
    max-width: 1100px;
    margin: 0 auto;  

    .vlide_container{
        @include flex(center, center);       
        position: relative;
        // width: 100vw;

    
        .vlide_list{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            // max-width: 1000px;
    
            .vlide_card {
				// margin: 0.05rem;
                width: 320px;
                margin: 0rem 0.3rem 1rem;
            }
        }
    }
}

@media (max-width: 600px) {
    .search_container{
        .grid {
            width: 100%;
            flex-direction: column;
          }
    }
}
